<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
            xmlns:gap   = "http://phonegap.com/ns/1.0"
            id          = "com.phonegap.example"
            versionCode = "10" 
            version     = "1.0.0" >
  <name>YouTube</name>
  <preference name="phonegap-version" value="3.6.3" />
  <description>
    Just redirect to YouTube mobile website.
  </description>
  <preference name="fullscreen" value="true" />
</widget>
